<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div id="container" style="width: 500px">
        <div id="head" style="background-color: green">
            <p style="font-family: monospace">this is title</p>
        </div>
        <br/>
        <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:right;">
            <b>菜单</b>
            <br> HTML
            <br> CSS
            <br> JavaScript
        </div>

        <div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:right;">
            内容在这里
        </div>

        <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
            版权 © runoob.com
        </div>
    </div>
</body>

</html>